


@font-face {
   font-family: 'Dohyeon';
   font-style: normal;
   font-weight: 400;
   src: url(BMDOHYEON_woff2.woff2) format('woff2'),
        url(BMDOHYEON_woff.woff) format('woff'),
        url(BMDOHYEON_otf.otf) format('opentype');
}
