@charset "utf-8";

@font-face {
    font-family: 'chosunilbo';
    src: url('chosunilbo.woff2') format('woff2'),
         url('chosunilbo.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}