@charset "utf-8";

/* color */
.point1{color:#3898d8;}
.point2{color:#fff7b2;}
.point3{color:#2d56bd;}
.point4{color:#ff0000;}

/* text */
.txt_noti.type2{background:#FFFCE3;color:#202020;}

.policy_goal_box .goal_area{border:1px solid #eee;border-radius:8px;overflow:hidden;padding:24px 30px;background:url(../../../images/site/kor/inc_y/ico_goal_arrow.png) no-repeat center;}
.policy_goal_box .goal_area > li{float:left;width:40%;}
.policy_goal_box .goal_area > li:first-child{width:60%;}
.policy_goal_box .goal_area .tit{display:inline-block;vertical-align:middle;width:140px;height:71px;position:relative;background:#F4F7FC;border-radius:0 50px 50px 0;margin-right:20px;}
.policy_goal_box .goal_area .tit:before{content:'';display:block;width:69px;height:69px;margin-left:8px;}
.policy_goal_box .goal_area .tit span{position:absolute;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);right:20px;font-size:16px;color:#000;line-height:20px;font-weight:bold;}
.policy_goal_box .goal_area li:nth-child(1) .tit:before{background:url(../../../images/site/kor/inc_y/ico_goal01.png) no-repeat center;}
.policy_goal_box .goal_area li:nth-child(2) .tit:before{background:url(../../../images/site/kor/inc_y/ico_goal02.png) no-repeat center;}
.policy_goal_box .goal_area .con{display:inline-block;vertical-align:middle;color:#000;font-size:14px;}
.policy_goal_box .goal_area .con .lst li{color:#000;font-size:14px;}
.policy_goal_box .btn_area{margin-top:30px;}

.goal_button_box{overflow:hidden;margin-top:38px;}
.goal_button_box .box{overflow:hidden;margin:0 -10px;}
.goal_button_box .box li{float:left;width:calc(50% - 20px);text-align:center;height:209px;border:1px solid #eee;border-radius:2px;box-sizing:border-box;margin:0 10px;}
.goal_button_box .box li .goal_txt{margin-top:40px;font-size:20px;line-height:29px;font-weight:500;color:#000;}
.goal_button_box .box li .goal_img{margin-top:36px;}
.goal_button_box .box li .btn_area{margin-top:30px;}

.policy_change_box .box{border:1px solid #eee;border-radius:8px;}
.policy_change_box .box dt{background:#2D56BD;font-size:24px;padding:40px 0;color:#fff;text-align:center;border-radius:6px 6px 0 0 ;margin:3px;}
.policy_change_box .box dd{font-size:16px;color:#202020;padding:20px 40px;}

.policy_count_box{margin-top:10px;}
.policy_count_box .lst{overflow:hidden;margin:0 -5px;}
.policy_count_box .lst li{float:left;margin:0 5px;position:relative;}
.policy_count_box .lst li:before{content:'';position:absolute;left:-25px;bottom:54px;display:block;width:40px;height:40px;border-radius:50%;background:#fff url(../../../images/site/kor/inc_y/ico_change_arrow.png) no-repeat center;}
.policy_count_box .lst li:first-child:before{display:none;}
.policy_count_box .lst .tit{font-size:14px;border:1px solid #CCD7EC;border-radius:5px;padding:10px;margin-bottom:10px;}
.policy_count_box .lst .tit:before{content:'';display:inline-block;background:url(../../../images/site/kor/inc_y/bul_arrow.png) no-repeat 0 0;width:14px;height:14px;vertical-align:middle;margin-right:10px;}

.policy_example_box{margin-top:50px;}
.policy_example_box *{letter-spacing:-1.25px;}
.policy_example_box dt{background:#003763;color:#fff;text-align:center;padding:15px 0;font-size:20px;border-radius:5px 5px 0 0;position:relative;}
.policy_example_box dt:after{content:'';display:block;background:url(../../../images/site/kor/inc_y/bg_polygon01.png) no-repeat 0 0;width:10px;height:12px;position:absolute;bottom:-12px;left:48px;z-index:1;}
.policy_example_box dd .blue_box{background:#F4F7FC;padding:30px;overflow:hidden;}
.policy_example_box dd .blue_box .num{display:inline-block;border-right:1px solid #909EB9;padding:10px 30px 10px 0;vertical-align:middle;font-size:40px;font-family:'Roboto';color:#003763;font-weight:bold;padding-right:20px;}
.policy_example_box dd .blue_box .cont{display:inline-block;vertical-align:middle;margin-left:20px;}
.policy_example_box dd .blue_box .tit{font-size:18px;color:#000;}
.policy_example_box dd .blue_box .txt_noti{display:block;margin-top:5px;}
.policy_example_box dd .box{display:table;margin:30px 0 70px;width:100%;}
.policy_example_box dd .box_r, .policy_example_box dd .box_l{display:table-cell;width:50%;padding:0 20px;border-left:1px solid #eee;}
.policy_example_box dd .box .tit{font-size:15px;color:#000;font-weight:500;position:relative;padding-left:50px;min-height:28px;letter-spacing:-1.2px;}
.policy_example_box dd .box .line_tit{border:1px solid #ccc;display:inline-block;padding:2px 8px;border-radius:5px;margin-top:10px;color:#202020;font-size:12px;font-weight:bold;}
.policy_example_box dd .box .ptxt{margin-top:10px;font-size:14px;color:#202020;}
.policy_example_box dd .box .tag{box-sizing:border-box;position:absolute;left:0;top:-2px;background:#3898D8;padding:3px 10px;color:#fff;font-size:12px;border-radius:3px;display:inline-block;margin-right:10px;}
.policy_example_box dd .box .tag.normal{background:#909EB9;}
.policy_example_box dd .box .tag.line{background:transparent;color:#202020;border:1px solid #ccc;}
.policy_example_box dd .box .chk_lst{margin-top:10px;}
.policy_example_box dd .box .chk_lst li{font-size:14px;color:#000;padding-left:23px;position:relative;margin-top:5px;}
.policy_example_box dd .box .chk_lst li:first-child{margin-top:0;}
.policy_example_box dd .box .chk_lst li:before{content:"";display:inline-block;width:16px;height:16px;box-sizing:border-box;border:1px solid #3898D8;border-radius:50%;background:url(../../../images/site/kor/inc_y/ico_check.png) no-repeat right center;position:absolute;left:0;top:4px;}
.policy_example_box dd .box .no_lst{margin-top:10px;}
.policy_example_box dd .box .no_lst li{font-size:14px;color:#000;padding-left:23px;position:relative;margin-top:5px;}
.policy_example_box dd .box .no_lst li:first-child{margin-top:0;}
.policy_example_box dd .box .no_lst li:before{content:"";display:inline-block;width:16px;height:16px;border-radius:50%;background:url(../../../images/site/kor/inc_y/ico_no.png) no-repeat center;position:absolute;left:0;top:4px;}
.policy_example_box dd .box .txt_noti.type2{margin-top:10px;}
.policy_ex_banner{text-align:center;border-radius:5px;min-height:113px;overflow:hidden;background:#2D56BD url(../../../images/site/kor/inc_y/bg_example_banner.png) no-repeat center bottom;}
.policy_ex_banner .tit{font-size:20px;color:#fff;margin-top:25px;}
.policy_ex_banner .txt_noti{border-radius:3px;display:inline-block;margin-top:15px;}

.line_txt{position:relative;font-size:18px;color:#202020;text-align:center;margin-top:50px;}
.line_txt span{position:relative;z-index:1;background:#fff;padding:0 20px;display:inline-block;}
.line_txt:before{content:'';width:100%;height:1px;background:#eee;position:absolute;left:0;top:50%;z-index:0;}