@charset "utf-8";

@import url(../../../font/NotoSansKr/font.css);
@import url(../../../font/GmarketSans/font.css);
@import url(../../../font/RobotoTTF/font.css);

body, h1, h2, h3, h4, h5, h6, th, td, input, select, textarea{ font-family: 'Noto Sans KR'; font-weight: 400; font-size: 14px;}
a:hover, a:focus{ text-decoration: none;}

/* gnb_layout 기본 시작 */
#gnb_layout{ height: 42px; top: 58px;}/* height:gnb높이, top:#top_layout에서 위치 */
#gnb_layout .depth1_ul > li > a span{ height:42px;}/* 1차메뉴 높이(오버시 border-bottom값을 뺀 높이) */
/*#gnb_layout .depth1_ul > li.n5{ width:150px;}*//* 1차메뉴명이 길어 n번째 메뉴 넓이 지정 */
#gnb_layout .depth1_ul{ width:100%; padding:0 100px;}/* width:컨텐츠 넓이, padding:header의 왼쪽 오른쪽 값으로 1차 메뉴 중앙 정렬 */
#gnb_layout.on .depth1_ul::after{ height: 240px; background-color: #fff; content: ""; margin-right: 600px; position: absolute; top: 62px; left: 0; right: 50%; z-index: -1;}
#gnb_layout.on.a_type .depth2_ul,
#gnb_layout.on.at_type .depth2_ul,
#gnb_layout.on.at_type .title_wrap,
#gnb_layout.on.b_type .depth2_ul,
#gnb_layout.on.c_type li.ov .depth2_ul,
#gnb_layout.on.ct_type .depth1_ul > li.ov > .title_wrap,
#gnb_layout.on.ct_type li.ov .depth2_ul,
#gnb_layout.on.d_type li.ov .depth2_ul,
#gnb_layout.on.dt_type .depth1_ul > li.ov > .title_wrap,
#gnb_layout.on.dt_type li.ov .depth2_ul,
#gnb_layout.on .gnb_bg{ top:62px;}/* #gnb_layout에서 2차 메뉴, gnb배경 위치 */
#gnb_layout.on .gnb_bg{ background-color:#F00; opacity:0.8;}/* background-color:gnb배경색, opacity:gnb투명도 */
#gnb_layout.on .depth1_ul > li.on > a span{ background-color: #1C315C;}
#gnb_layout.on .depth1_ul > li.ov > a span,
#gnb_layout.on .depth1_ul > li.ov:hover > a span,
#gnb_layout.on .depth1_ul > li > a:focus span{ background-color: #E8F0FF;}/* 1차메뉴 오버시 밑줄 */
#gnb_layout.on .depth2_ul > li.ov:hover > a,
#gnb_layout.on .depth2_ul > li > a:focus{}/* 1차메뉴 오버시 2차메뉴 배경색 */
#gnb_layout .depth2_ul > li > a[target=_blank]:after{ width:11px; height:11px; background:url(../../images/common/atype_ir.png) no-repeat -204px -230px; content:""; margin-left:5px; display:inline-block;}
#gnb_layout .depth2_ul > li > a[target=_blank]:focus:after,
#gnb_layout .depth2_ul > li > a[target=_blank]:hover:after{ background-position:-204px -244px;}

#gnb_layout{ width:100%; text-align:center; padding:0; display:inline-block; box-sizing:border-box; position:absolute; left:0; z-index:1;}
#gnb_layout .depth1_ul{ text-align:center; display:inline-block; box-sizing:border-box; position:relative;}
#gnb_layout .depth1_ul > li{ padding:0 0 15px 0; display:inline-block; box-sizing:border-box;}
#gnb_layout .depth1_ul > li + li{ margin-left: 25px;}
#gnb_layout .depth1_ul > li > a{ text-align:center; padding:0; margin:0; display:inline-block;}
#gnb_layout .depth1_ul > li > a span{ font-family:'GmarketSans'; font-weight:500; font-size:22px; color:#202020; text-align:center; line-height:42px; padding: 0 10px; display:table-cell; vertical-align:middle; border-radius: 4px;}
#gnb_layout .depth2_ul{ width:100%; padding:0; display:inline-block; box-sizing:content-box; position:absolute; top:-9999999px; left:0;}

#gnb_layout.ct_type .title_wrap{ width:190px; height:240px !important; text-align: center; padding-top: 50px; margin-left: -880px; display:inline-block; box-sizing: border-box; position:absolute; top:-99999px; left:50%; z-index:1;}
#gnb_layout.ct_type .title_wrap::before{ width: 40px; height: 40px; background: no-repeat center center; content: ""; display: inline-block;}
#gnb_layout.ct_type li.n1 .title_wrap::before{ background-image: url(../../../images/site/kor/inc/gnb_tit_img_1.png);}
#gnb_layout.ct_type li.n2 .title_wrap::before{ background-image: url(../../../images/site/kor/inc/gnb_tit_img_2.png);}
#gnb_layout.ct_type li.n3 .title_wrap::before{ background-image: url(../../../images/site/kor/inc/gnb_tit_img_3.png);}
#gnb_layout.ct_type li.n4 .title_wrap::before{ background-image: url(../../../images/site/kor/inc/gnb_tit_img_4.png);}
#gnb_layout.ct_type li.n5 .title_wrap::before{ background-image: url(../../../images/site/kor/inc/gnb_tit_img_5.png);}
#gnb_layout.ct_type li.n6 .title_wrap::before{ background-image: url(../../../images/site/kor/inc/gnb_tit_img_6.png);}
#gnb_layout.ct_type li.n7 .title_wrap::before{ background-image: url(../../../images/site/kor/inc/gnb_tit_img_7.png);}
#gnb_layout.ct_type .title_wrap strong{ width: 100%; font-family:'GmarketSans'; font-weight:500; font-size: 22px; line-height: 22px; margin-top: 10px; display: inline-block;}
#gnb_layout.ct_type .title_wrap p{ background-color: #F3F7FE; font-family: 'Roboto'; font-weight: 400; font-size: 14px; color: #606F83; text-align: center; line-height: 34px; padding: 0 25px; margin-top: 15px; display: inline-block; border-radius: 17px;}
#gnb_layout.ct_type .depth2_ul{ width:auto; background-color:#E8F0FD; right:0; margin-left: -600px; left: 50% !important;}
#gnb_layout.ct_type .depth2_ul:before{ width:253px; background-color:#305AC3; content:""; border-right:1px solid #666; position:absolute; top:1px; bottom:1px; left:0;}
#gnb_layout.ct_type .depth2_ul > li{ width:100%; text-align:left; display: table; float: left; box-sizing:border-box; border-top:1px solid #3F6CDC; position:relative;}
#gnb_layout.ct_type .depth2_ul > li + li::after{ height: 1px; background-color: #CEDCF4; content: ""; position: absolute; top: -1px; right: 0; left: 254px;}
#gnb_layout.ct_type .depth2_ul > li:first-child{ border-top:0;}
#gnb_layout.ct_type .depth2_ul > li > a{ width:253px; height:100%; font-weight: 100; font-family:'GmarketSans'; font-size: 16px; color: #BFC7D7; line-height: 45px; padding: 0 30px; display:table-cell; vertical-align: middle; box-sizing:border-box;}
#gnb_layout.ct_type .depth2_ul > li > a[target]{ background: url(../../../images/site/kor/inc/gnb_target_blank.png) no-repeat 222px center;}
#gnb_layout.ct_type .depth3_ul{ width:947px; padding:5px 0 5px 30px; display:table-cell; box-sizing:border-box;}
#gnb_layout.ct_type .depth3_ul li{ display:inline-block; float:left;}
#gnb_layout.ct_type .depth3_ul li a{ background: url(../../../images/site/kor/inc/gnb_3depth_icon.png) no-repeat left center; font-size:14px; color:#444; line-height:20px; padding:5px 20px 5px 8px; display:inline-block;}
/* gnb_layout 기본 끝 */


/* TouchSlider 기본 시작 */
.sliderBox,
.sliderBox ul,
.sliderBox ul li{ width:100%; height:100%; padding:0; margin:0; display:inline-block;}
.sliderBox{ overflow:hidden;}
.sliderBox ul{ position:relative;}
.sliderBox ul li{ position:absolute; top:0; left:0;}
/* TouchSlider 기본 끝 */


.mo{ display: none;}

#top_layout,
#body_layout,
#foot_layout{ width: 100%; text-align: center; padding: 0; margin: 0; display: inline-block; position: relative;}

#top_layout{ height: 120px;}
#top_layout .top_wrap{ width: 1200px; display: inline-block;}
#top_layout .top_wrap .logo{ margin-top: -25px; position: absolute; top: 50%; left: 30px; z-index: 9;}
#top_layout .top_wrap .logo a{  width: 212px; height: 50px; background: url(../../../images/site/kor/inc/logo.png) no-repeat center center; text-indent: -99999px; display: inline-block;}

#top_layout .top_wrap .banner{ margin-left: -227px; display: inline-block; position: absolute; top: 2px; left: 50%; z-index: 9;}
#top_layout .top_wrap .banner li{ display: inline-block; float: left;}
#top_layout .top_wrap .banner li + li{ margin-left: 2px;}
#top_layout .top_wrap .banner li a{ width: 150px; height: 40px; background: no-repeat center center; text-indent: -9999px; display: inline-block;}
#top_layout .top_wrap .banner li.n1 a{ background-image: url(../../../images/site/kor/inc/top_banner_img1.png);}
#top_layout .top_wrap .banner li.n2 a{ background-image: url(../../../images/site/kor/inc/top_banner_img2.png);}
#top_layout .top_wrap .banner li.n3 a{ background-image: url(../../../images/site/kor/inc/top_banner_img3.png);}

#top_layout .top_wrap .util{ display: inline-block; position: absolute; top: 16px; right: 20px; z-index: 9;}
#top_layout .top_wrap .util li{ display: inline-block; float: left;}
#top_layout .top_wrap .util li + li{ margin-left: 5px;}
#top_layout .top_wrap .util li + .sns{ margin-left: 4px;}
#top_layout .top_wrap .util .sns{ padding: 2px 0;}
#top_layout .top_wrap .util .sns a{ width: 24px; height: 24px; background: no-repeat center center; text-indent: -9999px; display: inline-block;}
#top_layout .top_wrap .util .sns.in a{ background-image: url(../../../images/site/kor/inc/top_sns_in.png);}
#top_layout .top_wrap .util .sns.fa a{ background-image: url(../../../images/site/kor/inc/top_sns_fa.png);}
#top_layout .top_wrap .util .sns.yo a{ background-image: url(../../../images/site/kor/inc/top_sns_yo.png);}
#top_layout .top_wrap .util .sns.tw a{ background-image: url(../../../images/site/kor/inc/top_sns_tw.png);}
#top_layout .top_wrap .util .sns.bl a{ background-image: url(../../../images/site/kor/inc/top_sns_bl.png);}
#top_layout .top_wrap .util .btn a{ font-size: 12px; color: #7584A4; text-align: center; line-height: 28px; padding: 0 8px; display: inline-block; box-sizing: border-box; border: 1px solid #D7DFEE; border-radius: 2px;}
#top_layout .top_wrap .util .pop{ position: relative;}
#top_layout .top_wrap .util .pop > a{ background-color: #3A86E4; font-size: 12px; color: #fff; text-align: center; line-height: 30px; padding: 0 14px; display: inline-block; border-radius: 2px;}
#top_layout .top_wrap .util .pop .op_wrap{ width: 483px; height: 223px; background-color: #2D3C50; text-align: right; padding:4px 0 0 0; margin:0; display: none; box-sizing: border-box; overflow: hidden; border-radius: 4px; position: absolute; top: 0; right: 0;}
#top_layout .top_wrap .util .pop .op_wrap .sliderBox{ width:483px; float: left;}
#top_layout .top_wrap .util .pop .op_wrap .sliderBox ul li{ height:181px;}
#top_layout .top_wrap .util .pop .op_wrap .controlBox{ width: 100%; height: 38px; background-color: #23354E; padding: 10px; display: inline-block; box-sizing: border-box; float: left;}
#top_layout .top_wrap .util .pop .op_wrap .controlBox > div{ display: inline-block; float: right;}
#top_layout .top_wrap .util .pop .op_wrap .controlBox button{ background: none; text-indent: -9999px; display: inline-block; float: left; border: 0;}
#top_layout .top_wrap .util .pop .op_wrap .controlBox .btn_prev,
#top_layout .top_wrap .util .pop .op_wrap .controlBox .btn_next{ display: none;}
#top_layout .top_wrap .util .pop .op_wrap .controlBox .btn_stop,
#top_layout .top_wrap .util .pop .op_wrap .controlBox .btn_play{ width: 18px; height: 18px; position: relative;}
#top_layout .top_wrap .util .pop .op_wrap .controlBox .btn_play::before{ content: ""; margin: -4px 0 0 -4px; border-top: 4px solid transparent; border-bottom: 4px solid transparent; border-left: 8px solid #fff; position: absolute; top: 50%; left: 50%;}
#top_layout .top_wrap .util .pop .op_wrap .controlBox .btn_stop::before{ width: 2px; height: 8px; background-color: #fff; content: ""; margin: -4px 0 0 -3px; position: absolute; top: 50%; left: 50%;}
#top_layout .top_wrap .util .pop .op_wrap .controlBox .btn_stop::after{ width: 2px; height: 8px; background-color: #fff; content: ""; margin: -4px 0 0 1px; position: absolute; top: 50%; left: 50%;}
#top_layout .top_wrap .util .pop .op_wrap .controlBox .paging{ margin-left: 8px; display: inline-block;}
#top_layout .top_wrap .util .pop .op_wrap .controlBox .paging button{ width: 10px; height: 10px; background-color: #3A8AEA; border: 4px solid #23354E; box-sizing: content-box; border-radius: 50%;}
#top_layout .top_wrap .util .pop .op_wrap .controlBox .paging button + button{ margin-left: 8px;}
#top_layout .top_wrap .util .pop .op_wrap .controlBox .paging button.on{ background-color: #fff; border-color: #3A8AEA;}
#top_layout .top_wrap .util .pop .op_wrap .op_btn{ display: inline-block; position: absolute; left: 0; bottom: 0;}
#top_layout .top_wrap .util .pop .op_wrap .op_btn .op_close{ width: 38px; height: 38px; background: url(../../../images/site/kor/inc/op_btn_close.png) no-repeat center center #3A74DE; font-size: 0; text-indent: -9999px; display: inline-block;}
#top_layout .top_wrap .util .pop .op_wrap .op_btn input{ position: absolute; left: -9999px;}
#top_layout .top_wrap .util .pop .op_wrap .op_btn label{ font-size: 13px; color: #fff; text-decoration: underline; line-height: 15px; padding-left: 25px; margin:12px 0 12px 15px; display: inline-block; vertical-align: bottom; position: relative;}
#top_layout .top_wrap .util .pop .op_wrap .op_btn label::before{ width: 15px; height: 15px; background-color: #fff; content: ""; position: absolute; top: 0; left: 0;}
#top_layout .top_wrap .util .pop .op_wrap .op_btn input:checked + label::after{ width: 8.23px; height: 6.2px; background: url(../../../images/site/kor/inc/op_ckbox_check.png) no-repeat center center; content: ""; position: absolute; top: 4.63px; left: 3.63px;}
#top_layout .top_wrap .util .pop.on > a{ display: none;}
#top_layout .top_wrap .util .pop.on .op_wrap{ display: inline-block;}

#top_layout .top_wrap .search{ display: inline-block; overflow: hidden; box-sizing: content-box; border: 1px solid #2D3C50; border-radius: 4px; position: absolute; top: 58px; right: 20px; z-index: 8;}
#top_layout .top_wrap .search input{ width: 316px; height: 40px; font-size: 14px; color: #2D3C50; line-height: 40px; padding: 0 20px; display: inline-block; border: 0; float: left;}
#top_layout .top_wrap .search .btn{ min-width: auto; width: 40px; height: 40px; background: url(../../../images/site/kor/inc/top_search_btn.png) no-repeat center center; text-indent: -9999px; padding: 0; display: inline-block; float: left; border: 0;}


#body_layout .body_wrap{ width: 1200px; display: inline-block;}
#body_layout .body_wrap .lnb_wrap{ width: 220px; display: inline-block; float: left;}
#body_layout .body_wrap .lnb_wrap .tit{ width: 100%; height: 195px; background: url(../../../images/site/kor/inc/lnb_tit_bg.png) no-repeat center top; padding: 59px 0 0 0; display: inline-block; box-sizing: border-box;}
#body_layout .body_wrap .lnb_wrap .tit h2{ font-family:'GmarketSans'; font-weight: 400; font-size: 30px; color: #fff; line-height: 30px; display: block;}
#body_layout .body_wrap .lnb_wrap .tit p{ font-family: 'Roboto'; font-weight: 400; font-size: 14px; color: #fff; line-height: 16px; margin: 10px 0 0 0; display: block; opacity: 0.5;}
#body_layout .body_wrap .lnb_wrap .depth2_ul{ width: 100%; background-color: #F4F6FC; text-align: left; padding: 0 24px 24px 24px; display: inline-block; box-sizing: border-box; border-radius: 0 0 10px 10px;}
#body_layout .body_wrap .lnb_wrap .depth2_ul > li{ width: 100%; display: inline-block; float: left;}
#body_layout .body_wrap .lnb_wrap .depth2_ul > li > a{ width: 100%; font-family:'GmarketSans'; font-weight: 400; font-size: 14px; color: #444; line-height: 18px; padding: 10px 20px 10px 0; display: inline-block; box-sizing: border-box; float: left;}
#body_layout .body_wrap .lnb_wrap .depth2_ul > li + li > a{ border-top: 1px solid #ccd7ec;}
#body_layout .body_wrap .lnb_wrap .depth2_ul > li.more > a{ background: url(../../../images/site/kor/inc/lnb_depth_open.png) no-repeat right center;}
#body_layout .body_wrap .lnb_wrap .depth2_ul > li.more.on > a{ background-image: url(../../../images/site/kor/inc/lnb_depth_close.png);}
#body_layout .body_wrap .lnb_wrap .depth2_ul > li.on > a,
#body_layout .body_wrap .lnb_wrap .depth2_ul > li.ov > a,
#body_layout .body_wrap .lnb_wrap .depth2_ul > li:hover > a{ color: #2D56BD;}
#body_layout .body_wrap .lnb_wrap .depth2_ul > li.on.more > a,
#body_layout .body_wrap .lnb_wrap .depth2_ul > li.ov.more > a{ border-bottom: 1px solid #ccd7ec;}
#body_layout .body_wrap .lnb_wrap .depth3_ul{ width: 100%; padding: 12px 0; display: none;}
#body_layout .body_wrap .lnb_wrap li.on .depth3_ul,
#body_layout .body_wrap .lnb_wrap li.ov .depth3_ul{ display: inline-block;}
#body_layout .body_wrap .lnb_wrap .depth3_ul > li{ width: 100%; display: inline-block; float: left;}
#body_layout .body_wrap .lnb_wrap .depth3_ul > li + li{ margin: 3px 0 0 0;}
#body_layout .body_wrap .lnb_wrap .depth3_ul > li > a{ width: 100%; background: url(../../../images/site/kor/inc/lnb_menu_dot.png) no-repeat left center; font-size: 14px; color: #444; line-height: 18px; padding: 1px 0 1px 8px; display: inline-block;}
#body_layout .body_wrap .lnb_wrap .depth3_ul > li.on > a,
#body_layout .body_wrap .lnb_wrap .depth3_ul > li:hover > a{ font-weight: 700; color: #2D56BD;}

#body_layout .body_wrap .content_wrap{ width: 910px; display: inline-block; float: right;}
#body_layout .body_wrap .content_wrap .location_wrap{ display: inline-block; float: right;}
#body_layout .body_wrap .content_wrap .location_wrap ul{ background-color: #F4F7FC; display: inline-block; border: 1px solid #CCD7EC; border-radius: 4px;}
#body_layout .body_wrap .content_wrap .location_wrap li{ font-weight: 400; font-size: 14px; color: #202020; line-height: 38px; padding: 0 25px 0 0; display: inline-block; float: left;}
#body_layout .body_wrap .content_wrap .location_wrap li.home{ background: url(../../../images/site/kor/inc/location_home_icon.png) no-repeat 20px center; padding-left: 40px;}
#body_layout .body_wrap .content_wrap .location_wrap li + li::before{ width: 10px; height: 38px; background: url(../../../images/site/kor/inc/location_next_line.png) no-repeat center center; content: ""; margin: 0 20px 0 0; display: inline-block; vertical-align: top;}
#body_layout .body_wrap .content_wrap .tit_wrap{ width: 100%; margin-top: 20px; display: inline-block;}
#body_layout .body_wrap .content_wrap .tit_wrap h3{ font-family:'GmarketSans'; font-weight: 400; background: url(../../../images/site/kor/inc/h3_tit_dot.png) no-repeat left center; font-weight: 400; font-size: 26px; color: #2D3C50; line-height: 30px; padding: 0 0 0 40px; display: inline-block; float: left;}
#body_layout .body_wrap .content_wrap .tit_wrap ul{ display: inline-block; float: right;}
#body_layout .body_wrap .content_wrap .tit_wrap ul li{ display: inline-block; float: left;}
#body_layout .body_wrap .content_wrap .tit_wrap ul li + li{ margin-left: 10px;}
#body_layout .body_wrap .content_wrap .tit_wrap ul li a{ width: 30px; height: 30px; background: no-repeat center center; text-indent: -9999px; display: inline-block;}
#body_layout .body_wrap .content_wrap .tit_wrap ul li.print a{ background-image: url(../../../images/site/kor/inc/con_btn_print.png);}
#body_layout .body_wrap .content_wrap .tit_wrap ul li.fa a{ background-image: url(../../../images/site/kor/inc/con_btn_fa.png);}
#body_layout .body_wrap .content_wrap .tit_wrap ul li.tw a{ background-image: url(../../../images/site/kor/inc/con_btn_tw.png);}


#foot_layout{ height: 105px; background-color: #576170; text-align: center;}
#foot_layout .foot_wrap{ width: 1200px; text-align: left; padding: 20px 0; display: inline-block;}
#foot_layout .foot_wrap .tel{ float: right;}
#foot_layout .foot_wrap .link{ float: left;}
#foot_layout .foot_wrap li{ float: left; position: relative;}
#foot_layout .foot_wrap .link a{ font-size: 14px; color: #F0F5FF; line-height: 21px;}
#foot_layout .foot_wrap .link li + li::before{ width: 20px; font-size: 14px; color: #F0F5FF; text-align: center; line-height: 21px; content: "ㆍ"; display: inline-block;}
#foot_layout .foot_wrap .tel li{ font-size: 14px; color: #F0F5FF; line-height: 21px; display: inline-block;}
#foot_layout .foot_wrap .tel li::before{ font-size: 14px; color: #F0F5FF; line-height: 21px; content: "-"; display: inline-block; vertical-align: top;}
#foot_layout .foot_wrap .tel li span{ font-weight: 700; margin-left: 5px; display: inline-block; vertical-align: top;}
#foot_layout .foot_wrap .tel li + li{ margin-left: 20px;}
#foot_layout address{ font-weight: 300; font-size: 14px; font-style: normal; background: url(../../../images/site/kor/inc/foot_logo.png) no-repeat left center; color: #D7DFED; line-height: 30px; padding: 0 0 0 145px; margin-top: 10px; display: inline-block; float: left;}
#foot_layout address span{ margin-left: 10px;}
#foot_layout .mark{ margin-top: 10px; display: inline-block; float: right;}
#foot_layout .mark li + li{ margin-left: 12px;}
#foot_layout .mark a{ height: 30px; background: no-repeat center center; text-indent: -9999px; display: inline-block;}
#foot_layout .mark .kogl a{ width: 78px; background-image: url(../../../images/site/kor/inc/foot_mark_kogl.png);}
#foot_layout .mark .wa a{ width: 49px; background-image: url(../../../images/site/kor/inc/foot_mark_wa.png);}

