@font-face { 
    font-family: 'GmarketSans'; 
    font-style: normal; 
    font-weight: 100; 
    src: url(GmarketSansLight.woff) format('woff');
} 
@font-face { 
    font-family: 'GmarketSans'; 
    font-style: normal; 
    font-weight: 500; 
    src: url(GmarketSansMedium.woff) format('woff'); 
}
@font-face { 
    font-family: 'GmarketSans'; 
    font-style: normal; 
    font-weight: 700; 
    src: url(GmarketSansBold.woff) format('woff'); 
}