@charset "utf-8";


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	포토형 게시판 리스트

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.photo_list li a .photo span img
{
	transition : all 0.3s ease;
	-webkit-transition : all 0.3s ease;
}
.photo_list {width:100%; padding:15px 165px; border-top:2px solid #444; border-bottom:1px solid #444; box-sizing:border-box;}
.photo_list:after{content:""; display:block; clear:both;}
.photo_list li{position:relative; float:left; width:29%; margin-right:6%; margin-top:20px;}
.photo_list li:first-child,
.photo_list li:nth-child(2),
.photo_list li:nth-child(3){margin-top:0;}
.photo_list li:nth-child(3n){margin-right:0;}
.photo_list li a{overflow:hidden; display:block; width:100%; line-height:20px; font-weight:600; text-overflow:ellipsis; white-space:nowrap; color:#404040; text-decoration:none;}
.photo_list li a span,
.photo_list li a strong{display:block; font-weight:normal;}
.photo_list li a .photo{overflow:hidden; display:block; position:relative; width:100%; height:200px; background-color:#eee;}
.photo_list li a .photo span{display:block; position:absolute; left:50%; top:0; width:2000px; height:100%; margin-left:-1000px; text-align:center;}
.photo_list li a .photo span img{height:100%; display:block; margin:0 auto;}
.photo_list li a p{border:1px solid #eaeaea; border-top:0; margin:0; padding:18px 15px;}
.photo_list li a strong.title{overflow:hidden; display:block; width:100%; font-size:16px; font-weight:600; text-overflow:ellipsis; white-space:nowrap;}
.photo_list li a span.date{font-size:13px; color:#969696; margin-top:7px; background:url(../../images/mec/skin/clock.png) no-repeat left 50%; padding:0 0 0 22px;}
.photo_list li a:hover .photo span img,
.photo_list li a:active .photo span img{transform:scale(1.2); -webkit-transform:scale(1.2);}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	유튜브형 게시판 리스트

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.youtube_list li a .photo span img
{
	transition : all 0.3s ease;
	-webkit-transition : all 0.3s ease;
}
.youtube_list {width:100%; padding:15px 165px; border-top:2px solid #444; border-bottom:1px solid #444; box-sizing:border-box;}
.youtube_list:after{content:""; display:block; clear:both;}
.youtube_list li{position:relative; float:left; width:29%; margin-right:6%; margin-top:20px;}
.youtube_list li:first-child,
.youtube_list li:nth-child(2),
.youtube_list li:nth-child(3){margin-top:0;}
.youtube_list li:nth-child(3n){margin-right:0;}
.youtube_list li a{overflow:hidden; display:block; width:100%; line-height:20px; font-weight:600; text-overflow:ellipsis; white-space:nowrap; color:#404040; text-decoration:none;}
.youtube_list li a span,
.youtube_list li a strong{display:block; font-weight:normal;}
.youtube_list li a .photo{overflow:hidden; display:block; position:relative; width:100%; height:200px; background-color:#eee;}
.youtube_list li a .photo span{display:block; position:absolute; left:50%; top:0; width:2000px; height:100%; margin-left:-1000px; text-align:center;}
.youtube_list li a .photo span img{
	height:100%; display:block; margin:0 auto;
	transform:scale(1.35); -webkit-transform:scale(1.35);
}
.youtube_list li a p{border:1px solid #eaeaea; border-top:0; margin:0; padding:18px 15px;}
.youtube_list li a strong.title{overflow:hidden; display:block; width:100%; font-size:16px; font-weight:600; text-overflow:ellipsis; white-space:nowrap;}
.youtube_list li a span.date{font-size:13px; color:#969696; margin-top:7px; background:url(../../images/mec/skin/clock.png) no-repeat left 50%; padding:0 0 0 22px;}
.youtube_list li a:hover .photo span img,
.youtube_list li a:active .photo span img{transform:scale(1.5); -webkit-transform:scale(1.5);}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	다운로드 이미지 게시판 리스트

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.downpic_list li a .photo span img
{
	transition : all 0.3s ease;
	-webkit-transition : all 0.3s ease;
}
.downpic_list {width:100%; padding:15px 270px; border-top:2px solid #444; border-bottom:1px solid #444; box-sizing:border-box;}
.downpic_list:after{content:""; display:block; clear:both;}
.downpic_list li{position:relative; float:left; width:22%; margin-right:4%; margin-top:20px;}
.downpic_list li:first-child,
.downpic_list li:nth-child(2),
.downpic_list li:nth-child(3),
.downpic_list li:nth-child(4){margin-top:0;}
.downpic_list li:nth-child(4n){margin-right:0;}
.downpic_list li a{overflow:hidden; display:block; width:100%; line-height:20px; font-weight:600; text-overflow:ellipsis; white-space:nowrap; color:#404040; text-decoration:none;}
.downpic_list li a span,
.downpic_list li a strong{display:block; font-weight:normal;}
.downpic_list li a .photo{overflow:hidden; display:block; position:relative; width:100%; height:230px; background-color:#eee; border:1px solid #eaeaea; border-bottom:0; box-sizing:border-box;}
.downpic_list li a .photo span{display:block; position:absolute; left:50%; top:0; width:2000px; height:100%; margin-left:-1000px; text-align:center;}
.downpic_list li a .photo span img{
	height:100%; display:block; margin:0 auto;
	transform:scale(1.35); -webkit-transform:scale(1.35);
}
.downpic_list li a p{border:1px solid #eaeaea; margin:0; padding:18px 15px;}
.downpic_list li a strong.title{overflow:hidden; display:block; width:100%; font-size:16px; font-weight:600; text-overflow:ellipsis; white-space:nowrap;}
.downpic_list li a span.date{font-size:13px; color:#969696; margin-top:7px; background:url(../../images/mec/skin/clock.png) no-repeat left 50%; padding:0 0 0 22px;}
.downpic_list li a:hover .photo span img,
.downpic_list li a:active .photo span img{transform:scale(1.5); -webkit-transform:scale(1.5);}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	보도형 게시판 리스트

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.bodo_list li,
.bodo_list li a .photo span img
{
	transition : all 0.3s ease;
	-webkit-transition : all 0.3s ease;
}
.bodo_list {width:100%; border-top:2px solid #444; border-bottom:1px solid #444;}
.bodo_list li{position:relative; border-bottom:1px solid #eaeaea; padding:15px 0;}
.bodo_list li:last-child{border-bottom:0;}
.bodo_list li:hover,
.bodo_list li:active{background:#f6f6f6;}
.bodo_list li a{overflow:hidden; display:block; position:relative; box-sizing:border-box; padding:0 0 0 300px; min-height:150px; text-decoration:none;}
.bodo_list li a span,
.bodo_list li a strong{display:block; font-weight:normal; color:#404040;}
.bodo_list li a .photo{overflow:hidden; display:block; position:absolute; left:0; top:0; width:300px; height:100%; background-color:#eee;}
.bodo_list li a .photo span{display:block; position:absolute; left:50%; top:0; width:2000px; height:100%; margin-left:-1000px; text-align:center;}
.bodo_list li a .photo span img{height:100%; display:block; margin:0 auto;}
.bodo_list li a p{margin:0; padding:35px 25px;}
.bodo_list li a strong.title{font-size:16px; font-weight:600; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.bodo_list li a span.date{font-size:13px; color:#969696; margin-top:7px; background:url(../../images/mec/skin/clock.png) no-repeat left 50%; padding:0 0 0 22px;}
.bodo_list li a:hover .photo span img,
.bodo_list li a:active .photo span img{transform:scale(1.2); -webkit-transform:scale(1.2);}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	FAQ 게시판 리스트

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.faq_list li .question
{
	transition : all 0.3s ease;
	-webkit-transition : all 0.3s ease;
}
.faq_list{width:100%; border-top:2px solid #444; border-bottom:1px solid #444;}
.faq_list li{border-bottom:1px solid #e0e0e0; position:relative; z-index:1;}
.faq_list li:last-child{border-bottom:0;}
.faq_list li .question{display:block; text-decoration:none; width:auto; max-width:100%; box-sizing:border-box; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; padding:10px; padding-left:45px; padding-right:140px; font-weight:600; color:#404040; font-size:15px; line-height:27px; background:url(../../images/mec/skin/icon_q.png) no-repeat 10px 10px;}
.faq_list li .question:hover,
.faq_list li .question:active,
.faq_list li .question.on{background:#f6f6f6 url(../../images/mec/skin/icon_q.png) no-repeat 10px 10px;}
.faq_list li .answer{padding:13px 10px; display:none; padding-left:45px; background:#fafafa; border-top:1px solid #e0e0e0; background:url(../../images/mec/skin/icon_a.png) no-repeat 10px 10px;}
.faq_list li .btns{position:absolute; right:10px; top:8px; z-index:10;}
.faq_list li .answer ul{margin-top:6px; padding:5px 8px; border:1px solid #e0e0e0; border-radius:5px; -webkit-border-radius:5px; box-sizing:border-box;}
.faq_list li .answer ul li{border-bottom:0;}
.faq_list li .answer ul li a.icon_file{display:inline-block; line-height:21px; padding-left:20px; background:url(../../images/mec/skin/icon_file.png) no-repeat left center; word-break:break-all; box-sizing:border-box;}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	게시판 등록/수정

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.board_insert{width:100%; border-top:2px solid #444; border-bottom:1px solid #444;}
.board_insert .detail{background:#fff; box-sizing:border-box;}
.board_insert .detail > li{position:relative; width:100%; min-height:42px; padding-left:180px; border-top:1px solid #ccc; box-sizing:border-box;}
.board_insert .detail > li:first-child{border-top:0;}
.board_insert .detail li .titles{position:absolute; top:0; left:0; width:180px; height:100%; background:#fafafa;}
.board_insert .detail li .titles span{display:table; table-layout:fixed; width:100%; height:100%;}
.board_insert .detail li .titles span strong{display:table-cell; width:100%; height:100%; text-align:center; vertical-align:middle;}
.board_insert .detail li .titles span strong .red{display:inline-block; width:auto; height:auto; margin-top:-5px; padding-left:2px; vertical-align:top;}
.board_insert .detail li .txts{width:100%; padding:10px 8px; box-sizing:border-box;}
.board_insert .detail li .txts span{display:inline-block; margin-right:15px;}
.board_insert .detail li.no_title{padding-left:0;}
/*내용*/
.board_insert .detail li .contents{width:100%; min-height:300px; padding:14px 10px; box-sizing:border-box;}
.board_insert .detail li.no_title .contents{padding:20px 25px;}
/*안에 인풋 요소들*/
.board_insert ul li input[type="text"],
.board_insert ul li textarea,
.board_insert ul li select{border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;}
.board_insert ul li input[type="text"]{width:100%;}
.board_insert ul li textarea{width:100%; min-height:150px;}
.board_insert ul li input[type="text"].js_cal{width:100%; max-width:130px; text-align:center;}
.board_insert ul li input[type="text"].hasDatepicker{max-width:150px; text-align:center;}
.board_insert ul li select{min-width:150px; height:34px;}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	게시판 상세보기

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.board_view{width:100%; border-top:2px solid #444; border-bottom:1px solid #444;}
.board_view .subject{display:block; width:100%; height:auto; line-height:26px; padding:20px; background:#fafafa; font-size:20px; font-weight:700; box-sizing:border-box;}
.board_view .detail{overflow:hidden; background:#fff; box-sizing:border-box;}
.board_view .detail > li{float:left; position:relative; width:100%; min-height:42px; padding-left:180px; border-top:1px solid #ccc; box-sizing:border-box;}
.board_view .detail li.fix{width:33.33%;}
.board_view .detail li .titles{position:absolute; top:0; left:0; width:180px; height:100%; background:#fafafa;}
.board_view .detail li .titles span{display:table; table-layout:fixed; width:100%; height:100%;}
.board_view .detail li .titles span strong{display:table-cell; width:100%; height:100%; text-align:center; vertical-align:middle;}
.board_view .detail li .titles span strong .red{display:inline-block; width:auto; height:auto; margin-top:-5px; padding-left:2px; vertical-align:top;}
.board_view .detail li .txts{width:100%; padding:10px 8px; box-sizing:border-box;}
.board_view .detail li .txts > span{display:inline-block; margin-right:15px;}
.board_view .detail li .txts img{display:block; max-width:800px; margin:0 auto;}
.board_view .detail li.no_title{padding-left:0;}
/*내용*/
.board_view .detail li .contents{width:100%; min-height:300px; padding:14px 10px; box-sizing:border-box;}
.board_view .detail li.no_title .contents{padding:20px 25px;}
.board_view .detail li .contents iframe{display:block; width:100%; max-width:800px; margin:0 auto 20px; height:450px;}
/*첨부파일*/
.board_view .detail li.filebox ul{padding:14px 10px;}
.board_view .detail li.filebox ul li{float:none; min-height:auto; margin-top:1px; padding-left:0; border-top:0;}
.board_view .detail li.filebox ul li:first-child{margin-top:0;}
.board_view .detail li.filebox ul li a.icon_file{display:inline-block; line-height:21px; padding-left:20px; background:url(../../images/mec/skin/icon_file.png) no-repeat left center; word-break:break-all; box-sizing:border-box;}
/*이전글, 다음글*/
.prev_next_link{width:100%; border-bottom:1px solid #444; margin-top:-1px;}
.prev_next_link li{position:relative; padding-left:100px;}
.prev_next_link li:nth-child(2){border-top:1px solid #d7d7d7;}
.prev_next_link li strong{display:block; position:absolute; left:0px; top:0; width:60px; padding:12px 15px; text-align:left; background:url(../../images/mec/skin/board_parent_link_down.gif) no-repeat right center;}
.prev_next_link li:first-child strong{background:url(../../images/mec/skin/board_parent_link_up.gif) no-repeat right center;}
.prev_next_link li a{overflow:hidden; display:inline-block; vertical-align:top; padding:12px 15px; width:auto; max-width:100%; box-sizing:border-box; text-overflow:ellipsis; white-space:nowrap;}
.prev_next_link li a:hover,
.prev_next_link li a:active{color:#404040;}
/*공공누리*/
.board_view .detail > li .txts [class*="codeView0"]{position:relative; display:table; table-layout:fixed; height:54px;}
.board_view .detail > li .txts .codeView05{height:27px;}
.board_view .detail > li .txts [class*="codeView0"] img,
.board_view .detail > li .txts [class*="codeView0"] span{vertical-align:middle;}
.board_view .detail > li .txts [class*="codeView0"] img{position:absolute; top:0; left:0; width:100%;}
.board_view .detail > li .txts .codeView01 img{max-width:149px;}
.board_view .detail > li .txts .codeView02 img{max-width:183px;}
.board_view .detail > li .txts .codeView03 img{max-width:183px;}
.board_view .detail > li .txts .codeView04 img{max-width:219px;}
.board_view .detail > li .txts .codeView05 img{max-width:27px;}
.board_view .detail > li .txts [class*="codeView0"] span{display:table-cell; width:100%; height:100%; line-height:18px; vertical-align:middle; font-size:14px; box-sizing:border-box;}
.board_view .detail > li .txts .codeView01 span{padding-left:159px;}
.board_view .detail > li .txts .codeView02 span{padding-left:193px;}
.board_view .detail > li .txts .codeView03 span{padding-left:193px;}
.board_view .detail > li .txts .codeView04 span{padding-left:229px;}
.board_view .detail > li .txts .codeView05 span{padding-left:37px;}
/*댓글기능*/
.board_view .reply{position:relative; padding:10px 15px 0; border-top:1px solid #ccc;}
.board_view .reply div{position:relative; margin-top:5px;}
.board_view .reply textarea{width:100%; height:80px; padding-right:95px; box-sizing:border-box;}
.board_view .reply .btn_ok{position:absolute; top:0; right:0; width:80px; height:80px; line-height:80px; background:#0067a6; text-align:center; color:#fff;}
.board_view .reply .btn_ok:hover,
.board_view .reply .btn_ok:active,
.board_view .reply .btn_ok:link{text-decoration:none;}
.board_view .reply_box{margin-bottom:15px; padding:0 15px;}
.board_view .reply_box .txts{position:relative; width:100%; padding:10px 153px 10px 0; border-top:1px solid #ccc; box-sizing:border-box;}
.board_view .reply_box .txts:nth-child(1){border-top:0;}
.board_view .reply_box .txts .writer,
.board_view .reply_box .txts .date{vertical-align:middle;}
.board_view .reply_box .txts .writer{display:inline-block; padding-right:10px; font-size:14px; font-weight:700;}
.board_view .reply_box .txts .date{display:inline-block; font-size:12px; color:#868686;}
.board_view .reply_box .txts p{margin-top:5px;}
.board_view .reply_box .txts .btns{position:absolute; top:10px; right:0;}
.board_view .reply_box .re_reply{position:relative; padding:10px; background:#f7f7f7; box-sizing:border-box;}
.board_view .reply_box .re_reply textarea{margin-top:5px; width:100%; height:80px;}
.board_view .reply_box .re_reply .btns{position:absolute; top:10px; right:10px;}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	게시판 데이터 없을때

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.no_board_data{padding:50px 0; border-top:2px solid #444; border-bottom:1px solid #444; text-align:center;}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
     
    Page
     
/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.page{text-align:center; margin-top:25px;}
.page a{
	overflow:hidden; display:inline-block; width:27px; height:27px; line-height:29px; margin:0px 2px; vertical-align:middle; font-size:14px;
	transition:all 0.3s ease; -webkit-transition:all 0.3s ease;
}
.page a:link,
.page a:visited,
.page a:active{text-decoration:none;}
.page a:hover,
.page a.on{
	background:#0067a6; font-weight:700; color:#fff;
	border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;
}
.page a.page_first,
.page a.page_left,
.page a.page_right,
.page a.page_end{width:20px; margin:0; text-indent:-200px;}
.page a.page_left{margin-right:4px;}
.page a.page_right{margin-left:4px;}
.page a.page_first{background:url(../../images/mec/skin/icon_page_first.gif) no-repeat center center;}
.page a.page_left{background:url(../../images/mec/skin/icon_page_left.gif) no-repeat center center;}
.page a.page_right{background:url(../../images/mec/skin/icon_page_right.gif) no-repeat center center;}
.page a.page_end{background:url(../../images/mec/skin/icon_page_end.gif) no-repeat center center;}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	버튼 스타일
	
	class="btn ty_1"(gray) - 확인, 등록
	class="btn ty_2"(blue) - 저장, 수정
	class="btn ty_3"(red) - 삭제
	class="btn ty_3"(light gray) - 목록, 이전, 취소
	class="btn small ty_n" - 테이블 안
	
/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.cms .btn
{
	transition : all 0.3s ease;
	-webkit-transition : all 0.3s ease;
}
.cms .btn {display:inline-block; vertical-align:middle; line-height:14px; margin:1px 0; padding:9px 15px; text-align:center; font-size:14px; text-decoration:none; border:1px solid #7f8592; color:#fff; border-radius:5px; -webkit-border-radius:5px; box-sizing:border-box; opacity:0.8; -webkit-opacity:0.8;}
.cms .btn.small{min-width:32px; height:30px; line-height:18px; padding:5px 10px; font-weight:normal; font-size:13px; opacity:1; -webkit-opacity:1;}
.cms .btn.ty_1,
.cms .btn.ty_1:link,
.cms .btn.ty_1:visited,
.cms .btn.ty_1:active{border:1px solid #616161; color:#fff; background-color:#616161;}
.cms a.btn.ty_1:hover{border:1px solid #616161; color:#616161; background-color:#fff;}
.cms .btn.ty_2,
.cms .btn.ty_2:link,
.cms .btn.ty_2:visited,
.cms .btn.ty_2:active{border:1px solid #0067a6; color:#fff; background-color:#0067a6;}
.cms a.btn.ty_2:hover{border:1px solid #0067a6; color:#0067a6; background-color:#fff;}
.cms .btn.ty_3,
.cms .btn.ty_3:link,
.cms .btn.ty_3:visited,
.cms .btn.ty_3:active{border:1px solid #cf2d36; color:#fff; background-color:#cf2d36;}
.cms a.btn.ty_3:hover{border:1px solid #cf2d36; color:#cf2d36; background-color:#fff;}
.cms .btn.ty_4,
.cms .btn.ty_4:link,
.cms .btn.ty_4:visited,
.cms .btn.ty_4:active{border:1px solid #7f8592; color:#fff; background-color:#7f8592;}
.cms a.btn.ty_4:hover{border:1px solid #7f8592; color:#7f8592; background-color:#fff;}
/* .cms .btn.bor{min-width:90px; border-radius:20px; -webkit-border-radius:20px; -moz-border-radius:20px;} */
.cms input[type="submit"].btn{height:34px; background:#7f8592; border:1px solid #7f8592;}
.cms input[type="submit"].btn:hover{background:#fff; border:1px solid #7f8592; color:#383838;}

/*순서 ↑,↓ 버튼*/
.cms [class*="btn_arr_"]{
	overflow:hidden; display:inline-block; width:40px; height:30px; line-height:30px; background-color:#eee; background-repeat:no-repeat; background-position:center center; border:1px solid #eee; text-indent:-2000px;
	border-radius:5px; -webkit-border-radius:5px;
	transition:all 0.3s ease; -webkit-transition:all 0.3s ease;
}
.cms [class*="btn_arr_"]:hover{background-color:#fff; border:1px solid #949494;}
.cms .btn_arr_top{background-image:url(../../images/mec/skin/btn_arrow2.png);}
.cms .btn_arr_btm{
	background-image:url(../../images/mec/skin/btn_arrow2.png);
	transform:rotate(180deg); -webkit-transform:rotate(180deg);
}
/*이전다음 →,← 버튼*/
.cms .btn_arr_right{background-image:url(../../images/mec/skin/btn_arrow.png);}
.cms .btn_arr_left{
	background-image:url(../../images/mec/skin/btn_arrow.png);
	transform:rotate(180deg); -webkit-transform:rotate(180deg);
}
/*추가 버튼 +*/
.cms .btn.ty_2.add:before{
	content:""; opacity:0.9; display:inline-block; width:10px; height:10px; margin-top:-3px; margin-right:4px; background:url(../../images/mec/skin/icon_add.png) no-repeat left center; vertical-align:middle;
	transition:background 0.3s ease; -webkit-transition:background 0.3s ease;
}
.cms .btn.add:hover:before{background-image:url(../../images/mec/skin/icon_add2.png);}
.cms .btn.small.ty_2.add:before{margin-top:-2px;}
/*파일다운로드아이콘(글없음)*/
.cms .btn.file_down:link,
.cms .btn.file_down:visited,
.cms .btn.file_down:active{overflow:hidden; width:32px; background-image:url(../../images/mec/skin/icon_down.png); background-repeat:no-repeat; background-position:center center; text-indent:-2000px;}
.cms .btn.file_down:hover{background-image:url(../../images/mec/skin/icon_down2.png);}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	.file_attach : 등록/수정화면 첨부파일 추가 리스트
	.control_lst : 허용메뉴 등 추가되는 텍스트 리스트

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.file_attach{}
.file_attach li{margin-bottom:3px;}

.control_lst li{display:inline-block; width:19.5%; margin-top:3px;}
.control_lst li .btn{margin-left:3px;}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	.search_cal : 날짜입력하는 검색폼

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.cms .controls .search_cal{position:relative; float:left; padding:0 10px;}
.cms .controls .search_cal:before,
.cms .controls .search_cal:after{content:""; position:absolute; top:50%; width:1px; height:16px; margin-top:-8px; background:#ccc;}
.cms .controls .search_cal:before{left:0;}
.cms .controls .search_cal:after{right:0;}
.cms .controls .search_cal .js_cal{float:none !important; width:100px !important; text-align:center;}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	.no_date_picker : 데이트피커 날짜가 없을 경우

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.no_date_picker .ui-datepicker-calendar{display:none;}
.no_date_picker .ui-datepicker .ui-datepicker-buttonpane{margin:0; border:0;}
/*달력아이콘*/
.ui-datepicker-trigger{padding-left:5px; vertical-align:middle; cursor:pointer;}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
     
    #js_popup : 관리자 레이어팝업
    #js_popup2
/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
#js_popup {display: none; position:fixed; z-index:999; top:0; left:0; width:100%; height:100%; background:rgba(0, 0, 0, 0.5); border-radius:20px;}
#js_popup .popuo_group{
	position:absolute; left:50%; top:50%; width:700px; height:700px; margin-left:-350px; margin-top:-350px; background:#fff;
	border-radius:20px; -webkit-border-radius:5px; -moz-border-radius:5px;
}
#js_popup .popuo_group .titles{position:relative; height:55px; line-height:55px; padding:0 20px; background:#4a5466; border-radius:5px 5px 0 0; box-sizing:border-box;}
#js_popup .popuo_group .titles strong{font-size:20px; color:#fff;}
#js_popup .popuo_group .titles a{
	overflow:hidden; position:absolute; top:0; right:0; display:block; width:55px; height:55px; background:url(../../images/mec/skin/btn_popup_close.png) no-repeat center center; text-indent:-2000px;
	transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
}
#js_popup .popuo_group .titles a:hover{transform:rotate(180deg); -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg);}
#js_popup .popuo_group .popup_content{width:100%; height:auto; padding:20px 20px 25px; box-sizing:border-box;}

#js_popup2 {display: none; position:fixed; z-index:999; top:0; left:0; width:100%; height:100%; background:rgba(0, 0, 0, 0.5); border-radius:20px;}
#js_popup2 .popuo_group{
	position:absolute; left:50%; top:50%; width:700px; height:700px; margin-left:-350px; margin-top:-350px; background:#fff;
	border-radius:20px; -webkit-border-radius:5px; -moz-border-radius:5px;
}
#js_popup2 .popuo_group .titles{position:relative; height:55px; line-height:55px; padding:0 20px; background:#4a5466; border-radius:5px 5px 0 0; box-sizing:border-box;}
#js_popup2 .popuo_group .titles strong{font-size:20px; color:#fff;}
#js_popup2 .popuo_group .titles a{
	overflow:hidden; position:absolute; top:0; right:0; display:block; width:55px; height:55px; background:url(../../images/mec/skin/btn_popup_close.png) no-repeat center center; text-indent:-2000px;
	transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
}
#js_popup2 .popuo_group .titles a:hover{transform:rotate(180deg); -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg);}
#js_popup2 .popuo_group .popup_content{width:100%; height:auto; padding:20px 20px 25px; box-sizing:border-box;}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
     
    .js_accordion : 게시판 권한 관리 아코디언 메뉴
     
/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.js_accordion li .titles,
.js_accordion li .titles:after{transition : all 0.3s ease; -webkit-transition : all 0.3s ease; -moz-transition : all 0.3s ease;}
.js_accordion{width:100%; box-sizing:border-box;}
.js_accordion li{position:relative; z-index:1; background:#fff; border-bottom:1px solid #e0e0e0;}
.js_accordion li:first-child{border-top:1px solid #e0e0e0;}
.js_accordion li .titles{overflow:hidden; position:relative; display:block; width:100%; line-height:27px; padding:10px 35px 10px 20px; text-decoration:none; white-space:nowrap; text-overflow:ellipsis; font-size:16px; font-weight:700; box-sizing:border-box;}
.js_accordion li .titles:hover,
.js_accordion li .titles:active,
.js_accordion li .titles.on{background:#eee;}
.js_accordion li .titles:after{
	content:""; position:absolute; top:0; right:2px; width:47px; height:47px; background:url(../../images/mec/skin/btn_arrow.png) no-repeat center center;
	transform:rotate(90deg); -webkit-transform:rotate(90deg); -moz-transform:rotate(90deg);
}
.js_accordion li .titles.on:after{transform:rotate(270deg); -webkit-transform:rotate(270deg); -moz-transform:rotate(270deg);}
.js_accordion li .txtbox{display:none; padding:13px 20px; border-top:1px solid #e0e0e0;}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
     
    .connect_list : 리스트 항목들 연계 기능
     
/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.cms .table .connect_list{overflow:hidden; position:relative;}
.cms .table .connect_list [class*="bx_"]{float:left; width:50%; height:auto; margin-top:5px; box-sizing:border-box;}
.cms .table .connect_list [class*="bx_"] strong{
	display:block; width:100%; height:45px; line-height:45px; background:#cacaca; border:1px solid #ccc; border-bottom:0; text-align:center; box-sizing:border-box; 
	border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0;
}
.cms .table .connect_list [class*="bx_"] .boxs{
	width:100%; height:300px; border:1px solid #cacaca; box-sizing:border-box;
	border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; -moz-border-radius:0 0 5px 5px;
}
.cms .table .connect_list [class*="bx_"] .boxs ul li{overflow:hidden; width:100%; padding:15px; border-bottom:1px dashed #d0d0d0; box-sizing:border-box;}
.cms .table .connect_list [class*="bx_"] .boxs ul li.on{background:#fcb941; border-bottom:1px dashed #fff;}
.cms .table .connect_list [class*="bx_"] .boxs ul li input[type="checkbox"]{position:absolute; top:0; left:-2000px;}
.cms .table .connect_list .bx_left{padding-right:40px;}
.cms .table .connect_list .bx_right{padding-left:40px;}
.cms .table .connect_list .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background:#a0a0a0 !important;}

.cms .table .connect_list .cnt_btn{position:absolute; top:50%; left:50%; width:40px; margin-left:-20px; margin-top:-42px;}
.cms .table .connect_list .cnt_btn a{
	overflow:hidden; display:inline-block; width:40px; height:40px; background:#eee url(../../images/mec/skin/btn_arrow.png) no-repeat center; border:1px solid #eee; text-indent:-2000px;
	border-radius:5px; -webkit-border-radius:5px;
	transition:all 0.3s ease; -webkit-transition:all 0.3s ease;  -moz-transition:all 0.3s ease;
}
.cms .table .connect_list .cnt_btn .btn_left{margin-top:5px; transform:rotate(180deg); -webkit-transform:rotate(180deg);}
.cms .table .connect_list .cnt_btn a:hover{background-color:#fff; border:1px solid #949494;}

