@font-face{
font-family:'Daum';
font-style:normal;
font-weight:400;
src:url('Daum-Regular.woff2') format('woff2'),
url('Daum-Regular.woff') format('woff');
}
@font-face{
font-family:'Daum';
font-style:normal;
font-weight:600;
src:url('Daum-SemiBold.woff2') format('woff2'),
url('Daum-SemiBold.woff') format('woff');
}